body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:blanchedalmond;
}

img {
    float: right;
    height: 100px;
    width: 300px;
    position:relative;
}

table {
    border: 3px solid black;
    text-align: center;
    color:yellow;
    font-weight: bold;
    width: 70%;
    background-color: blue;
}

ul {
    list-style-type:circle;
}

th, td {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

ol {
    list-style-type: lower-greek;
}

li::marker {
    font-size: 20px;
}

p {
    text-indent: 2%;
}

.special {
    border: 5px red solid;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    outline: 5px blue solid;
}

tr:nth-child(odd) {
    background-color:gray;
}