* {
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

body {
    background: url('gymImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    text-align: center;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 0.5em 3.3em;
}

button.right {
    float: right;
    color: red;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}
